<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <li><a href="/search">Search</a></li>
      <li><a href="/pages/saved">Favorites</a></li>
      <li><a href="/about">About us</a></li>
    </ul>
  </div>
</nav>

<div class="<%= classes %>">
  <h1>
    <%= title %>
  </h1>