<nav>
  <a href="/search">Search</a>
  <a href="/pages/saved">Favorites</a>
  <a href="/about">About us</a>
</nav>

<div class="<%= classes %>">
  <div class="innerContainer">
    <h1>
      <%= title %>
    </h1>