<!DOCTYPE html>
<html>
<%- include('partials/head') %>

<body>
  <%- include('partials/header', {title: 'Welp'}) %>
  <section class="searchForms">
    <form method="GET" action="/results">
      <label for="cuisine">Cuisine: </label>
      <input type="text" name="cuisine" id="cuisine" required />
      <label for="price">Price: </label>
      <select name="price">
        <option selected>
          $
        </option>
        <option>
          $$
        </option>
        <option>
          $$$
        </option>
        <option>
          $$$$
        </option>
      </select>
      <button name="submit">LET'S EAT!</button>
      <input type="hidden" name="lat" id="lat" />
      <input type="hidden" name="long" id="long" />
    </form>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>