<!DOCTYPE html>
<html>
<%- include('partials/head') %>

<body>
  <%- include('partials/header', {title: 'Welp'}) %>
  <section class="searchForms">
    <form method="GET" action="/results">
      <label for="cuisine">Cuisine: </label>
      <input type="text" name="cuisine" id="cuisine" required />
      <label for="ratings">Ratings: </label>
      <input type="number" step=".5" max="5" name="ratings" id="ratings" required />
      <label for="price">Price: </label>
      <select name="price">
        <option selected>
          $
        </option>
        <option>
          $$
        </option>
        <option>
          $$$
        </option>
        <option>
          $$$$
        </option>
      </select>
      <button name="submit">LET'S EAT!</button>
    </form>
  </section>
</body>

</html>