<!DOCTYPE html>
<html>
<%- include('partials/head') %>

<body>
  <%- include('partials/header', {title: 'Welp'}) %>
  <section class="searchForms">
    <form method="GET" action="/results">
      <label for="cuisine">Cuisine: </label>
      <input type="text" name="cuisine" id="cuisine" required />
      <label for="radius">Radius (1-5 miles): </label>
      <input type="number" name="radius" id="radius" step="1" min="1" max="5" required />
      <label for="price">Price: </label>
      <select name="price">
        <option selected>
          $
        </option>
        <option>
          $$
        </option>
        <option>
          $$$
        </option>
        <option>
          $$$$
        </option>
      </select>
      <button name="submit">LET'S EAT!</button>
      <input type="hidden" name="lat" id="lat" />
      <input type="hidden" name="long" id="long" />
    </form>
  </section>
  <%- include('partials/footer') %>
</body>

</html>