<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header', {title: 'About Us', classes: 'all_backgrounds'}) %>
  <div class="cardContainer">
    <div class="card about-us jimmy">
      <div class="transparent">
        <h3>Jimmy Nguyen</h3>
        <img class="aboutImg" src="/images/jimmy.jpeg" alt="jimmy" />
        <p>
          Category: The baddest
        </p>
        <p>
          Rating: 5
        </p>
        <p>
          Jimmy is a world class competitive eater. He competes against himself. When not coding or eating, he's found
          pretending to hike mountains or catching up on sleep. Jimmy is looking forward to building unique solutions
          that utilizes his skillset.
        </p>
        <p>
          <a href="https://www.linkedin.com/in/jimmyndev/">
            <img src="/images/linked_in.png" class="linked_in" alt="LinkedIn">
          </a>
        </p>
      </div>
    </div>
    <div class="card about-us allisa">
      <div class="transparent">
        <h3>Allisa LeBeuf</h3>
        <img src="/images/allisa.jpeg" alt="../img/allisa.jpg" />
        <p>
          Category: #Winning
        </p>
        <p>
          Rating: 4
        </p>
        <p>
          Allisa is a software development engineer apprentice. She has a background in finance within non-profits and
          is
          excited to make the transition into a more challenging role. In her off time, she is hanging out at in a
          forest
          or on the beach with her dog.
        </p>
        <p>
          <a href="https://www.linkedin.com/in/allisalebeuf">
            <img src="/images/linked_in.png" class="linked_in" alt="LinkedIn">
          </a>
        </p>
      </div>
    </div>
    <div class="card about-us kris">
      <div class="transparent">
        <h3>Kris Riedman</h3>
        <img src="/images/kris.jpg" alt="image" />
        <p>
          Category: Lumberjack
        </p>
        <p>
          Rating: Nothing to see here...
        </p>
        <p>
          Kris is an avid gamer and Air Force Veteran. He grew up in North Dakota and the Air Force decided to send
          him
          back. He follows professional football and basketball (Go Pack Go!!, Let's Go Bucks). His favorite
          activities
          include playing video games, watching movies, and exploring faraway places with his wife. Fun fact: Kris
          has
          spent a full six months of his life underground.
        </p>
        <p>
          <a href="https://www.linkedin.com/in/kristofer-riedman-3016a0126/">
            <img src="/images/linked_in.png" class="linked_in" alt="LinkedIn">
          </a>
        </p>
      </div>
    </div>
  <div class="card about-us andrew">
    <div class="transparent">
      <h3>Andrew Powers</h3>
      <img src="/images/andrew.jpg" alt="../img/AndrewPower-250x300.jpg" />
      <p>
        Category: The Other Guy
      </p>
      <p>
        Rating: 9+
      </p>
      <p>
        For the last three years Andrew has been a S.T.E.M educator and operations manager of a non profit called Key
        Tech Labs. Its a 501(c)3 non profit mobile makerspace that brings emerging tech to under-capitalized youth so
        that they can build self-sustainable communities. Currently he is cultivating his skills as a Software
        Developer so that he can create accessible opportunities for the underrepresented.
      </p>
      <p>
        <a href="https://www.linkedin.com/in/andrew-powers-81995a43/">
          <img src="/images/linked_in.png" class="linked_in" alt="LinkedIn">
        </a>
      </p>
    </div>
  </div>
  </div>
  </div>
</body>

</html>