<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header', {title: err, classes: 'all_backgrounds'}) %>
    <!-- Two closing divs for the opening divs in the header partial -->
      </div>
    </div>
  </body>
</html>