<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header', {title: 'Search Results'}) %>
    <div class="cardContainer">
      <%- include('../partials/card') %>
    </div>
  </body>
</html>
