<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header', {title: 'Search Results'}) %>
  <div class="cardContainer">
    <%- include('../partials/card') %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/results.js"></script>
</body>

</html>