<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header', {title: 'Search Results'}) %>
  <div class="cardContainer results">
    <%- include('../partials/card') %>
  </div>
  <p class="count">Total Eats:
    <%= results.length %>
  </p>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>