<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header', {title: 'Saved'}) %>
    <div class="cardContainer">
    </div>
    <%- include('../partials/footer') %>
    <script src="/js/saved.js"></script>
  </body>
</html>
