<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/header', {title: 'Saved'}) %>
  <button id=clearAll>Clear All</button>
  <%- include('../partials/footer') %>
</body>
</html>
