<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header', {title: 'Saved'}) %>
  <div class="cardContainer">
  </div>
  <button id="clearAll">Clear All</button>
  <%- include('../partials/footer') %>
  <script src="/js/saved.js"></script>
</body>

</html>