<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header', {title: 'Favorites', classes: 'all_backgrounds'}) %>
  <div class="cardContainer">
  </div>
  <%- include('../partials/footer') %>
  </div>
  <script src="/js/saved.js"></script>
</body>

</html>