<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header', {title: 'Favorites', classes: 'favorite_backgrounds'}) %>
  <div class="cardContainer">
    <!-- Saved JS appends data here -->
  </div>
  <!-- These closing divs are for the open divs inside the header partial -->
  </div>
  </div>
  <%- include('../partials/footer') %>
  <script src="/js/saved.js"></script>
</body>

</html>