:root {
  --neutral-background: #969696;
  --background: #F23D20;
  --primary: rgb(255, 220, 64);
  --secondary: rgb(44, 82, 71);
  --secondary-darker:  rgb(110, 140, 185);
  --neutral: rgb(13, 146, 22);
}

body {
  background-color: var(--neutral-background);
  max-width: 960px;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  color: var(--primary);
}
