:root {
  --neutral-background: #7c7c7c;
  --background: #F23D20;
  --primary: #F9660D;
  --secondary: #2B9074;
  --secondary-darker:  #264A81;
  --neutral: #44B74B;
}


body {
  background-color: var(--neutral-background);
  max-width: 960px;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  color: var(--secondary-darker);
}
