.card {
  width: 40%;
  padding: 10px;
  margin: 20px;
  border: 2px solid var(--secondary);
  background-color: var(--background);
  box-shadow: 6px 6px var(--secondary-darker);
  border-radius: 25px;
}

h3 {
  margin: 0px;
  padding: 20px
}

.transparent {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 25px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

.results .card:first-child{
  width: 89%;
  animation: color_change 1s infinite alternate;
}

.about-us {
  width: 100%;
}

img {
  max-width: 100%;
  height: 250px;
  width: 300px;
  object-fit: cover;
  margin: 0px auto;
}

button, label{
  display: block;
  margin: 10px auto;
}

button {
  background-color: var(--secondary-darker);
  border-radius: 20px;
  color: var(--primary);
  padding: 8px;
  border: solid 2px var(--secondary-darker);
  cursor: pointer;
}

address {
  font-size: .6em;
  padding: 0px 15px
}

.add_btn{
  background: url('../images/delete_btn.png') no-repeat center;
  background-size: 70px;
  filter: opacity(0.7);
  height: 70px;
  width: 70px;
  border: none;
}

.delete_btn{
  background: url('../images/add_btn.png') no-repeat center;
  background-size: 70px;
  filter: opacity(0.7);
  height: 70px;
  width: 70px;
  border: none;
}

.search-button {
  background: url('../images/search_btn.png') no-repeat center;
  background-size: 70px;
  filter: opacity(0.7);
  height: 70px;
  width: 70px;
  border: none;
}

.search-input, select {
  min-width: 300px;
  width: 98%;
  margin: 0;
  height: 60px;
}

.rendered{
  background-size: cover;
}

.jimmy {
  background: url('/images/jimmy_food.jpg') no-repeat center;
  background-size: contain; 
}

.allisa{
  background: url('/images/allisa_food.jpg') no-repeat center;
  background-size: contain;
}

.kris {
  background: url('/images/kris_food.jpg') no-repeat center;
  background-size: contain;
}

.andrew {
  background: url('/images/andrew_food.jpg') no-repeat center;
  background-size: contain;
}

.jimmy, .allisa, .kris, .andrew{
  border-radius: 25px;
}

.linked_in{
  height: 28px;
  width: 120px;
}

a {
  color: var(--text-color);
  padding: 5px;
  text-decoration: none;
  margin: 10px;
  font-weight: bold; 
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 3em;
  margin: 0px;
}

p {
  font-size: .65em;
}

.count {
  font-weight: bolder;
}

@media (max-width: 600px) {
  .card {
    width: 85%;
  }
  
  .searchForms{
    width: 90%;
  }
}

nav {
  margin-top: -27px;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 40px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 20px;
  height: 16px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: darkslategrey;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 150px;
  margin: 0 0 0 -25px;
  padding: 10px;
  padding-top: 10px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  font-size: 24px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
