
.card {
  width: 40%;
  padding: 20px;
  margin: 20px;
  border: 2px solid var(--secondary);
  background-color: var(--background);
  box-shadow: 10px 10px var(--secondary-darker);
}

.results .card:first-child{
  width: 89%;
  animation: color_change 1s infinite alternate;
}

.about-us {
  width: 100%;
}

img {
  max-width: 100%;
  height: 250px;
  width: 300px;
  object-fit: cover;
}

button, label{
  display: block;
  margin: 10px auto;
}

button {
  background-color: var(--secondary-darker);
  border-radius: 20px;
  color: var(--primary);
  padding: 8px;
  border: solid 2px var(--secondary-darker);

}

.search-button {
  margin-top: 30px;
}

.search-input, select {
  min-width: 300px;
  width: 100%;
  margin: 0;
  height: 60px;
}

a {
  color: var(--secondary-darker);
  padding: 5px;
  text-decoration: none;
  margin: 10px;
  font-weight: bold; 
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 3em; 
}

p {
  font-size: .65em;
}

@media (max-width: 600px) {
  .card {
    width: 85%;
  }
}
